.userslistitem {
  font-size: 0.75rem;
  color: #777;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.userslistitem__name {
  font-size: 1rem;
  color: #000;
}

.userslistitem__user {
  display: inline-block;
  margin-left: 0.75rem;
}
